body {
  font-family: Roboto;
}

.red {
  color:red;
}

.blue {
  color:blue;
}

.links-wrap {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
 }

.link-wrap {
  width:25%;
  height: 10vh;
}

.link-to-page {
	color: #fff;
	background: #226fbe;
	-webkit-transition: none;
	-moz-transition: none;
  transition: none;
  border: 4px solid #226fbe;
  border-radius: 60px;
  width:80%;
  height:100%;
  font-size:1em;
}

.link-to-page:active {
	top: 2px;
}

.link-to-page:hover {
	background: transparent;
  color: #226fbe;
  cursor: pointer;
}