<header>
  <h1 class="">{{title}}</h1>
  <p>Hello {{username}}!</p>
</header>
<ul id="" class="">
  {{#each countries}} {{#if this.city}}
  <li class="">{{this.country}}'s capital is {{this.city}}</li>
  {{/if}} {{/each}}
</ul>