{{>header}}

<div class="links-wrap">
  {{>link link="./populations" text="Population"}}
  {{>link link="./capitals" text="Capitals"}}
  {{>link link="./big-or-small" text="Big or Small"}}
  {{>link link="./big" text="Big"}}
  {{>link link="./small" text="Small"}}
  {{>link link="./sorted" text="In Order Of Pop size"}}
</div>