<header>
  <h1 class="">{{title}}</h1>
  <p>Hello {{username}}!</p>
</header>
<ul id="" class="">
  {{#each countries}}
  <li class="">{{this.country}} has a population of {{this.population}}</li>
  {{/each}}
</ul>